.register {
  height: 100vh;
  background-color: rgb(230, 163, 230, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 60%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;

    .right {
      flex: 1;
      background: linear-gradient(rgb(230, 163, 230, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://media.istockphoto.com/id/1314920164/photo/low-angle-shot-of-a-diverse-group-of-businesspeople-joining-their-heads-together-in-a-huddle.jpg?s=612x612&w=0&k=20&c=nm2X1TzmK-os8W4UZoa9IdVmEYEgQVgjjzFnlfF7AIQ=');
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;
      h1 {
        font-size: 75px;
        line-height: 100px;
      }
      p {
      }
      span {
        font-size: 14px;
      }
      button {
        width: 50%;
        padding: 10px;
        background-color: white;
        border: none;
        color: rgba(230, 163, 230, 0.986);
        font-weight: bold;
        cursor: pointer;
      }
    }
    .left {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      h1 {
        color: rgba(230, 163, 230, 0.986);
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: rgba(230, 163, 230, 0.986);
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
